@{ 
    string userName = ViewData["userName"]==null ? "" : ViewData["userName"].ToString();
    //string registerTag = string.IsNullOrEmpty(ViewData["userName"].ToString()) ? "Register" : "Logout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManagerWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="margin-left: 50px;margin-right: 50px;max-width: 1400px;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ManagerWeb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index">Task</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Plan">Plan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Job">Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Fund" asp-action="Index">Fund</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Fund" asp-action="Analysis">Analysis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Fund" asp-action="Strategy">Strategy</a>
                        </li>
                    </ul>
                </div>
                <div style="float:right">
                    @if (string.IsNullOrEmpty(userName))
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LoginPage">Login</a>
                    }
                    else
                    {
                        <div style="font-size:1.6rem">@userName</div>
                    }

                </div>
                <div style="float:right">
                    @if (string.IsNullOrEmpty(userName))
                    {
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="RegisterPage">Register</a>
                    }
                    else
                    {
                        <a class="nav-link text-dark" style="font-size:small;padding-bottom:0px" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    @*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@
    <div>
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ManagerWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
