@{
    //Layout = null;
    ViewData["Title"] = "Analysis";
}
@using Solo.Model.ViewModel

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/sorttable.js"></script>
    <script type="text/javascript">

        function changeColor() {
            $(".spec").each(function () {
                if (parseFloat($(this).text()) > 0) {
                    $(this).css("color", "red");
                } else {
                    $(this).css("color", "green");
                }
            })
        }
        function clearText() {
            $(".inputV").each(function () {
                $(this).val("");
            })
        }
        function clearCache() {
            $.ajax({
                    url: '/Fund/RefreshRedis',
                    type: 'post',
                    data: {},
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        alert('清理成功');
                    }
                })
        }
        function addOrRemoveWait(fundnoStr) {
            //var tagName = $(obj).prop('tagName');
            //var text = $(obj).prop('text');
            //alert("tagName:" + tagName + " text:" + text);

            //alert($("#" + fundnoStr).text());
            if ($("#" + fundnoStr).text() == '+') {
                $.ajax({
                    url: '/Fund/AddToMyFunds',
                    type: 'post',
                    data: {
                        fundNo: fundnoStr,
                        status: 2,
                        investment: 0
                    },
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        $("#" + fundnoStr).text("-");//改变标签内容值
                    }
                })
            }
            else if ($("#" + fundnoStr).text() == '-') {
                $.ajax({
                    url: '/Fund/RemoveMyFund',
                    type: 'post',
                    data: {
                        fundNo: fundnoStr
                    },
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        $("#" + fundnoStr).text("+");
                    }
                })
            }

        }
        function ajaxAnalysis() {
            $.ajax({
                url: '/Fund/ajaxAnalysis', //请求的url
                type: 'post', //请求的方式
                data: $('.searchForm').serialize(), //form表单里要提交的内容，里面的input等写上name就会提交，这是序列化
                error: function (data) {
                    alert('请求失败');
                    $("#loading").remove();
                },
                beforeSend: function () {  
                    // 禁用按钮防止重复提交  
                    //$("#btnsearch").attr({ disabled: true });
                    
                    //清空table中的html
                    $("#tbResult").html("");
                    $("#btnsearch").attr({ disabled: true });  
                    $("#own").attr({ disabled: true });  
                    $("#bondstock").attr({ disabled: true });  
                    $("#maindiv").append("<div id='loading'><img src='/image/loading.gif' /><div>");  
                },  
                success: function (data) {
                    $("#loading").remove();
                    $("#btnsearch").attr({ disabled: false });  
                    $("#own").attr({ disabled: false });  
                    $("#bondstock").attr({ disabled: false });  
                    var str1 = "";                   
                    for (var i = 0; i < data.length; i++) {
                        //colorStr = data[i].r1week>0? "red" : "green"
                        //testStr = "<td style='color:"+colorStr+ "'>" + data[i].r1week + "</td>";
                        tag = "+";
                        investment = data[i].investment
                        rankid = data[i].rank_Id;
                        bear = data[i].bear_Id;
                        returnRate = data[i].returnRate
                        if (parseInt(data[i].status) == 2) {
                            tag = "-";
                        }
                        else if (parseInt(data[i].status) == 1) {
                            tag = "*";
                        }
                        if (investment == null) {
                            investment = '';
                        }
                        if (bear == null) {
                            bear = '';
                        }
                        if (rankid == null) {
                            rankid = '';
                        }
                        if (returnRate == null) {
                            returnRate = '';
                        }
                        //console.log(data[i].R2_1y);
                        str1 = "<tr>" +
                            "<td><a href='/Fund/Test?FundNo=" + data[i].fundNo + "' target='blank'>" + data[i].fundNo + "</a></td>" +
                            "<td><a href='http://fund.eastmoney.com/" + data[i].fundNo + ".html?spm=search' target='blank'>" + data[i].fundName + "</a></td>" +
                            "<td>" + data[i].stockRate + "</td>" +
                            "<td>" + investment + "</td>" +
                            "<td class='spec'>" + returnRate + "</td>" +
                            "<td class='spec'>" + data[i].r1day + "</td>" +
                            "<td class='spec'>" + data[i].r1week + "</td>" +
                            "<td class='spec'>" + data[i].r1month + "</td>" +
                            "<td>" + rankid + "</td>" +
                            "<td>" + bear + "</td>" +
                            "<td>" + data[i].fundScore + "</td>" +
                            "<td>" + data[i].managerScore + "</td>" +
                            "<td>" + data[i].bestReturn_Id + "</td>" +  
                            "<td class='spec'>" + data[i].d_ExpD5 + "</td>" +
                            "<td class='spec'>" + data[i].d_ExpD10 + "</td>" +
                            "<td class='spec'>" + data[i].d_ExpM1 + "</td>" +
                            "<td class='spec'>" + data[i].d_ExpM2 + "</td>" +
                            "<td class='spec'>" + data[i].d_Exp1 + "</td>" +
                            "<td class='spec'>" + data[i].d_Exp2 + "</td>" +
                            "<td class='spec'>" + data[i].d_Exp3 + "</td>" +
                            "<td class='spec'>" + data[i].d_Top + "</td>" +
                            "<td class='spec'>" + data[i].linear1 + "</td>" +
                            "<td class='spec'>" + data[i].linear2 + "</td>" +
                            "<td class='spec'>" + data[i].linear3 + "</td>" +
                            "<td class='spec'>" + data[i].linear5 + "</td>" +
                            "<td><button id='" + data[i].fundNo + "' onclick=addOrRemoveWait('" + data[i].fundNo + "') >" + tag + "</button>"
                        "</tr>";
                        $("#tbResult").append(str1);
                    }
                    changeColor();
                }
            });
        }
        function selectChange() {
            $("#ownInput").val($("#own").val());
            ajaxAnalysis();
            //alert($("#own").val());
        }
        function checkboxOnclick(checkbox){
            if ( checkbox.checked){
                $("#newInput").val(true);
            }else{
                $("#newInput").val(false);
            }
            ajaxAnalysis();
        }
        function bondstockChange() {
            $("#bondInput").val($("#bondstock").val());
            ajaxSearch();
        }
    </script>
    <style>
        .inputV {
            width: 45px
        }

        .menu {
            text-align: center;
            position: relative;
            left: 70px;
            border: 1px solid black;
            width: 1370px;
        }

        .dataView {
            text-align: center;
            position: relative;
            border: 1px solid black;
            left: 70px;
            width: 1370px;
        }

        .sortable {
            width: 1370px;
        }
    </style>
</head>

<body>
    <div class="menu">
        <form class="searchForm" method="post">
            <table>
                <tr>
                    <td>名称:</td>
                    <td><input type="text" name="FundName" class="inputV" /></td>
                    <td> 代号:</td>
                    <td><input type="text" name="FundNo" class="inputV" /></td>
                    <td> 手续费:</td>
                    <td><input type="text" name="MinTotalFee" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxTotalFee" class="inputV" /></td>
                    <td> R1week:</td>
                    <td><input type="text" name="MinR1week" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxR1week" class="inputV" /></td>
                    <td>D_Top:</td>
                    <td><input type="text" name="MinD_Top" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxD_Top" class="inputV" /></td>
                    <td>D_Exp1:</td>
                    <td><input type="text" name="MinD_Exp1" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxD_Exp1" class="inputV" /></td>
                    <td>D_Exp2:</td>
                    <td><input type="text" name="MinD_Exp2" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxD_Exp2" class="inputV" /></td>
                    <td>D_Exp3:</td>
                    <td><input type="text" name="MinD_Exp3" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxD_Exp3" class="inputV" /></td>
                    <td> Linear5:</td>
                    <td><input type="text" name="MinLinear5" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxLinear5" class="inputV" /></td>
                </tr>
                <tr>                   
                </tr>
            </table>
        </form>
        <table>
            <tr style="height:30px">
                <form class="searchForm" method="post">
                    <td> Rank:</td>
                    <td><input type="text" name="MinRank_Id" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxRank_Id" class="inputV" /></td>
                    <td>持股率:</td>
                    <td><input type="text" name="MinStockRate" class="inputV" /></td>
                    <td>-</td>
                    <td><input type="text" name="MaxStockRate" class="inputV" /></td>
                    <td>任职时间:</td>
                    <td><input type="date" name="MinDutyDate" value=@DateTime.Today.AddYears(-30).ToString("yyyy-MM-dd") /></td>
                    <td>-</td>
                    <td><input type="date" name="MaxDutyDate" value=@DateTime.Today.ToString("yyyy-MM-dd") /></td>
                    <td><input id="ownInput" type="hidden" name="own" value="1" /></td>
                    <td><input id="bondInput" type="hidden" name="bondstock" value="3" /></td>
                    <td>最新<input id="newInput" type="checkbox" onclick=checkboxOnclick(this) value="false" name="isnew" /></td>
                </form>
                <td>
                    <select id="own" onchange=selectChange()>
                        <option value="1">       </option>
                        <option value="2">仅看持仓</option>
                        <option value="3">仅看观望</option>
                        <option value="4">仅看持观</option>
                        <option value="5">持仓</option>
                        <option value="6">观望</option>
                        <option value="7">持仓观望</option>
                    </select>
                </td>
                <td>
                    <select id="bondstock" onchange=bondstockChange()>
                        <option value="1">债券</option>
                        <option value="2">股票</option>
                        <option value="3" selected="selected">全部</option>
                    </select>
                </td>
                <td><button onclick=clearText()>清空</button></td>
                <td><button onclick=clearCache()>缓存清理</button></td>
                <td><button onclick=ajaxAnalysis() id="btnsearch">搜索</button></td>
            </tr>
        </table>
    </div>
    <div class="dataView table-responsive" id="maindiv">
        <table border="1" cellspacing="0" cellpadding="0" class="sortable table-hover">
            <thead><tr><td>代号</td><td>名称</td><td>持股率</td><td>持仓</td><td>收益</td><td>R1day</td><td>R1week</td><td>R1month</td><td>Rank</td><td>Bear</td><td>基评</td><td>经评</td><td>最佳回报</td><td>Exp5D</td><td>Exp10D</td><td>Exp1M</td><td>Exp2M</td><td>Exp1</td><td>Exp2</td><td>Exp3</td><td>D_Top</td><td>Line1</td><td>Line2</td><td>Line3</td><td>Line5</td></tr></thead>
            <tbody id="tbResult">
                @foreach (var item in (List<AnalysisView>)ViewData["anList"])
                {
                <tr>
                    <td><a href=@("/Fund/Test?FundNo="+item.FundNo) target="_blank">@item.FundNo</a></td>
                    <td><a href=@("http://fund.eastmoney.com/"+item.FundNo+".html?spm=search") target="_blank">@item.FundName</a></td>
                    <td>@item.StockRate</td>
                    <td>@item.Investment</td>
                    <td style="color:@(item.ReturnRate>0?"red":"green")">@item.ReturnRate</td>
                    <td style="color:@(item.R1day>0?"red":"green")">@item.R1day</td>
                    <td style="color:@(item.R1week>0?"red":"green")">@item.R1week</td>
                    <td style="color:@(item.R1month>0?"red":"green")">@item.R1month</td>
                    <td style="color:@(item.Rank_Id<=10?"red":"balck")">@item.Rank_Id</td>
                    <td style="color:@(item.Bear_Id<=10?"red":"balck")">@item.Bear_Id</td>
                    <td style="color:@(item.FundScore_Id<=10?"red":"balck")">@item.FundScore</td>
                    <td style="color:@(item.ManagerScore_Id<=10?"red":"balck")">@item.ManagerScore</td>
                    <td style="color:@(item.BestReturn_Id<=10?"red":"balck")">@item.BestReturn_Id</td>
                    <td style="color:@(item.D_ExpD5>0?"red":"green")">@item.D_ExpD5</td>
                    <td style="color:@(item.D_ExpD10>0?"red":"green")">@item.D_ExpD10</td>
                    <td style="color:@(item.D_ExpM1>0?"red":"green")">@item.D_ExpM1</td>
                    <td style="color:@(item.D_ExpM2>0?"red":"green")">@item.D_ExpM2</td>
                    <td style="color:@(item.D_Exp1>0?"red":"green")">@item.D_Exp1</td>
                    <td style="color:@(item.D_Exp2>0?"red":"green")">@item.D_Exp2</td>
                    <td style="color:@(item.D_Exp3>0?"red":"green")">@item.D_Exp3</td>
                    <td style="color:@(item.D_Top>0?"red":"green")">@item.D_Top</td>
                    <td style="color:@(item.Linear1>0?"red":"green")">@item.Linear1</td>
                    <td style="color:@(item.Linear2>0?"red":"green")">@item.Linear2</td>
                    <td style="color:@(item.Linear3>0?"red":"green")">@item.Linear3</td>
                    <td style="color:@(item.Linear5>0?"red":"green")">@item.Linear5</td>
                    <td><button onclick="addOrRemoveWait('@item.FundNo.ToString()')">*</button></td>
                </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</body>
</html>

