@{
    // Layout = null;
    ViewData["Title"] = "Strategy";
}
@using Solo.Model.ViewModel

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <!-- Include Twitter Bootstrap and jQuery: -->
    <script src="~/Scripts/sorttable.js"></script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    @*<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
        <script type="text/javascript" src="~/js/bootstrap.min.js'"></script>
        <script type="text/javascript" src="~/js/bootstrap-multiselect.js"></script>
        <link rel="stylesheet" href="~/css/bootstrap-multiselect.css" type="text/css" />*@
    <script type="text/javascript">
        function changeColor() {
            $(".spec").each(function () {
                if (parseFloat($(this).text()) > 0) {
                    $(this).css("color", "red");
                } else {
                    $(this).css("color", "green");
                }
            })
        }
        function clearText() {
            $(".inputV").each(function () {
                $(this).val("");
            })
        }
        function search() {
            $(".searchForm").submit();
        }
        function addOrRemoveWait(fundnoStr) {
            //var tagName = $(obj).prop('tagName');
            //var text = $(obj).prop('text');
            //alert("tagName:" + tagName + " text:" + text);

            //alert($("#" + fundnoStr).text());
            if ($("#" + fundnoStr).text() == '+') {
                $.ajax({
                    url: '/Fund/AddToMyFunds',
                    type: 'post',
                    data: {
                        fundNo: fundnoStr,
                        status: 2,
                        investment: 0
                    },
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        $("#" + fundnoStr).text("-");//改变标签内容值
                    }
                })
            }
            else if ($("#" + fundnoStr).text() == '-') {
                $.ajax({
                    url: '/Fund/RemoveMyFund',
                    type: 'post',
                    data: {
                        fundNo: fundnoStr
                    },
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        $("#" + fundnoStr).text("+");
                    }
                })
            }

        }
        function ajaxSearch() {
            $.ajax({
                url: '/Fund/AjaxStrategy', //请求的url
                type: 'post', //请求的方式
                data: $('.searchForm').serialize(), //form表单里要提交的内容，里面的input等写上name就会提交，这是序列化
                error: function (data) {
                    alert('请求失败');
                },
                beforeSend: function () {
                    // 禁用按钮防止重复提交
                    $("#btnsearch").attr({ disabled: true });  
                    $("#own").attr({ disabled: true });  
                    $("#bondstock").attr({ disabled: true });  

                    //清空table中的html
                    $("#tbResult").html("");
                    $("#listcount").html("");
                    $("#total").html("");
                    $("#rate").html("");
                    $("#inrate").html("");
                    $("#maindiv").append("<div id='loading'><img src='/image/loading.gif' /><div>");
                },
                success: function (data) {
                    $("#loading").remove();
                    $("#btnsearch").attr({ disabled: false });  
                    $("#own").attr({ disabled: false });  
                    $("#bondstock").attr({ disabled: false });  
                    var str1 = "";
                    //tablehead = "<thead><tr><td>代号</td><td>名称</td><td>规模</td><td>手续费</td><td>非散率</td><td>持股率</td><td>近1天</td><td>近1周</td><td>近1月</td><td>近3月</td><td>近6月</td><td>近1年</td><td>近2年</td><td>近3年</td><td>近5年</td><td>7天赎回</td><td>30天赎回</td><td>1年赎回</td><td>2年赎回</td><td>任职时间</td></tr></thead><tbody>";
                    //$("#tbResult").append(tablehead);
                    for (var i = 0; i < data.length; i++) {                       
                        rankid = data[i].rank_Id;
                        investment = data[i].investment
                        returnRate = data[i].returnRate
                        tag = "$";
                        //console.log(data[i].status);
                        //console.log(data[i].investment);
                        if (investment == null) {
                            investment = '';
                        }
                        if (rankid == null) {
                            rankid = '';
                        }
                        if (returnRate == null) {
                            returnRate = '';
                        }
                        //colorStr = data[i].r1week>0? "red" : "green"
                        //testStr = "<td style='color:"+colorStr+ "'>" + data[i].r1week + "</td>";
                        str1 = "<tr id="+ data[i].fundNo +">" +
                            "<td><a href='/Fund/Test?FundNo=" + data[i].fundNo + "' target='_blank'>" + data[i].fundNo + "</a></td>" +
                            "<td><a href='http://fund.eastmoney.com/" + data[i].fundNo + ".html?spm=search' target='_blank'>" + data[i].fundName + "</a></td>" +
                            "<td class='strategy'>" + data[i].strategy + "</td>" +
                            "<td>" + data[i].totalScale + "</td>" +
                            "<td class='rank'>" + rankid + "</td>" +
                            "<td>" + investment + "</td>" +
                            "<td class='spec returnrate'>" + returnRate + "</td>" +
                            "<td class='spec'>" + data[i].r1day + "</td>" +
                            "<td class='spec'>" + data[i].r1week + "</td>" +
                            "<td class='spec'>" + data[i].r1month + "</td>" +  
                            "<td class='spec'>" + data[i].d_ExpD5 + "</td>" +
                            "<td class='spec'>" + data[i].d_ExpD10 + "</td>" +
                            "<td class='spec'>" + data[i].d_ExpM1 + "</td>" +
                            "<td class='spec'>" + data[i].d_ExpM2 + "</td>" +
                            "<td class='spec'>" + data[i].d_Exp1 + "</td>" +
                            "<td class='spec'>" + data[i].d_Exp2 + "</td>" +
                            "<td class='spec'>" + data[i].d_Exp3 + "</td>" +
                            "<td class='spec'>" + data[i].d_Top + "</td>" +
                            "<td class='spec'>" + data[i].fundScore + "</td>" +
                            "<td class='spec'>" + data[i].managerScore + "</td>" +  
                            "<td class='spec'>" + data[i].estimate + "</td>" +
                            "<td class='spec'>" + data[i].recommend + "</td>" +
                            "<td><button id='" + data[i].fundNo + "' onclick=addTransation('" + data[i].fundNo + "','" + data[i].fundName + "') >" + tag + "</button>"
                        "</tr>";
                        $("#tbResult").append(str1);                        
                    }
                    $("#listcount").append(data.length);
                    total = 0;
                    income = 0;
                    for (var i = 0; i < data.length; i++) {
                        total += data[i].investment;
                        income += data[i].investment*1*data[i].returnRate*1 / 100
                    }                   
                    $("#total").append(total);
                    sum = @ViewData["SumStock"].ToString();
                    rate = (total * 100 / sum).toFixed(2);
                    inrate = (income*100 / total).toFixed(2);
                    if (rate>100) {
                        rate = 100;
                    }
                    $("#rate").append(rate);
                    $("#inrate").append(inrate);
                    changeColor();
                    if ($("#recentInvest").get(0).checked) {               
                        $.ajax({
                                url: '/Fund/GetRecentTransactions',
                                type: 'post',
                                data: {
                        
                                },
                                error: function (data) {
                                    alert('请求失败');
                                },
                                success: function (data) {
                                    for (var i = 0; i < data.length; i++) {
                                        if (data[i].transactionValue == 100) {
                                            $("#" + data[i].fundNo).css("background-color", "lightyellow");
                                        }
                                        else if (data[i].transactionValue == 200) {
                                            $("#" + data[i].fundNo).css("background-color", "yellow");
                                        }
                                        else if (data[i].transactionValue > 200) {
                                            $("#" + data[i].fundNo).css("background-color", "orange");
                                        }
                                    }
                                }
                        })
                    } else {
                        $("#tbResult").children().css("background-color", "white");
                    }
                }
            });
        }
        function selectChange() {
            //$("#inputStrategy").append(($("#strategy").val() + ","));
            if ($('#strategy').val() != "") {
                $("#inputStrategy").val($("#inputStrategy").val() + $('#strategy').val()+",");
            }
            else {
                $("#inputStrategy").val("");
            }
            //ajaxSearch();
        }
        function statusChange() {
            $("#ownInput").val($("#holdwait").val());
            ajaxSearch();
            //ajaxSearch();
        }
        function bondstockChange() {
            $("#bondInput").val($("#bondstock").val());
            ajaxSearch();
        }
        function checkboxOnclick(checkbox) {
            if (checkbox.checked) {
                $("#newInput").val(true);
            } else {
                $("#newInput").val(false);
            }           
            ajaxSearch();
        }
        function showRecentInvest(checkbox) {
            if (checkbox.checked) {
                //$("#110011").css("background-color","yellow
                $.ajax({
                    url: '/Fund/GetRecentTransactions',
                    type: 'post',
                    data: {
                        
                    },
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].transactionValue == 100) {
                                $("#" + data[i].fundNo).css("background-color", "lightyellow");
                            }
                            else if (data[i].transactionValue == 200) {
                                $("#" + data[i].fundNo).css("background-color", "yellow");
                            }
                            else if (data[i].transactionValue > 200) {
                                $("#" + data[i].fundNo).css("background-color", "orange");
                            }
                        }
                        $("#tbResult").children().each(function () {
                            fdid = "#" + $(this).attr('id');
                            rr = $(fdid).children('.returnrate').text();
                            rank = $(fdid).children('.rank').text();
                            stg = $(fdid).children('.strategy').text();
                            isUnderestimated = false;
                            if (stg.indexOf("Underestimated") >= 0) {
                                isUnderestimated = true;
                            }
                             
                            if (fdid != "#001217") {
                                if (((rank > 30 || rank == "") && rr > 25) ||
                                    ((rank > 20 && rank <= 30) && rr > 30) ||
                                    ((rank > 10 && rank <= 20) && rr > 35) ||
                                    (isUnderestimated == true && rr>20)) {
                                    $(this).css("background-color", "blue");
                                }
                            }
                        })
                    }
                })
            } else {
                $("#tbResult").children().css("background-color", "white");
            }
        }
        function clearCache() {
            $.ajax({
                    url: '/Fund/RefreshRedis',
                    type: 'post',
                    data: {},
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        alert('清理成功');
                    }
                })
        }
    </script>
    <style>
        .inputV {
            width: 60px
        }

        .menu {
            text-align: center;
            position: relative;
            left: 70px;
            border: 1px solid black;
            width: 1370px;
        }

        .dataView {
            text-align: center;
            position: relative;
            border: 1px solid black;
            left: 70px;
            width: 1370px;
        }

        .sortable {
            width: 1370px;
        }
        .row{
            padding:0px;
            margin:0px;
            margin-bottom:0px;
        }
        .row .row{
            padding:0px;
            margin:0px;
            margin-bottom:0px;
            margin-top:0px;
        }
        [class*="col-"]{
            padding:0px;
            margin:0px;
            padding-top:0px;
            padding-bottom:0px;
        }

        /* 买入框主体 */
        .trans {
            position: absolute;
            width: 512px;
            height: 284px;
            z-index: 9999;
            display: none;
            background-color: white;
            /* 这里要注意绝对定位的盒子怎么在屏幕显示居中 */
            left: 50%;
            margin-left: -256px;
            margin-top: 142px;
            border: 1px solid gray;
        }
        /* 买入框标题 */
        .trans-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 20px;
            cursor: move;
        }

            .trans-title span a {
                text-decoration: none;
                border: 1px solid gray;
                font-size: 12px;
                color: black;
                border-radius: 20px;
                width: 40px;
                height: 40px;
                background-color: #fff;
                position: absolute;
                top: -20px;
                right: -20px;
            }

        /* 买入表单 */
        .trans-input {
            margin: 20px 0px 30px 0px;
        }

            .trans-input label {
                float: left;
                height: 35px;
                line-height: 35px;
                width: 90px;
                padding-left: 10px;
                text-align: right;
                font-size: 14px;
            }

            .trans-input input.list-input {
                height: 35px;
                line-height: 35px;
                width: 350px;
                text-indent: 5px;
            }
        /* 提交按钮 */
        .transSubmit {
            width: 260px;
            height: 40px;
            text-align: center;
            border: 1px solid gray;
            background-color: white;
            margin-left: 120px;
        }

        /* 遮盖层 */
        .bg {
            background-color: #000;
            width: 100%;
            height: 100%;
            top: 0px;
            position: fixed;
            opacity: 0.3;
            -webkit-opacity: 0.3;
            -moz-opacity: 0.3;
            display: none;
        }
    </style>
</head>

<body>

    <div class="menu">
        <form class="searchForm" method="post">
            <table>
                <tr>
                    <td>名称:</td>
                    <td><input type="text" name="FundName" class="inputV" style="width:230px" /></td>
                    <td> 策略:</td>
                    <td><input type="text" name="Strategy" class="inputV" id="inputStrategy" style="width:400px" /></td>
                    <td>
                        <select id="strategy" onchange=selectChange()>
                            <option value="">    </option>
                            <option value="Underestimated">Underestimated</option>
                            <option value="Stable">Stable</option>
                            <option value="KJ">KJ</option>
                            <option value="XYG">XYG</option>
                            <option value="BestReturn">BestReturn</option>
                            <option value="R5yr">R5yr</option>
                            <option value="Rank">Rank</option>
                            <option value="FundScore">FundScore</option>
                            <option value="ManagerScore">ManagerScore</option>
                        </select>
                    </td>
                    <td><input id="ownInput" type="hidden" name="status" value="3" /></td>
                    <td><input id="bondInput" type="hidden" name="bondstock" value="3" /></td>
                    <td>
                        <select id="holdwait" onchange=statusChange()>
                            <option value="1">持仓</option>
                            <option value="2">观望</option>
                            <option value="3" selected="selected">持仓观望</option>
                        </select>
                        <select id="bondstock" onchange=bondstockChange()>
                            <option value="1">债券</option>
                            <option value="2">股票</option>
                            <option value="3" selected="selected">全部</option>
                        </select>
                    </td>
                    <td>最新<input id="newInput" type="checkbox" onclick=checkboxOnclick(this) value="false" name="isnew" /></td>
                    <td>近期加仓<input id="recentInvest" type="checkbox" onclick=showRecentInvest(this) value="false" name="recentInvest" /></td>
                    <td><button onclick=clearCache()>缓存清理</button></td>
                    <td><button onclick=ajaxSearch() id="btnsearch">搜索</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="dataView">
        <div class="container">
            <div class="row">
                <div class="col-md-2"><a href=@("/Fund/Test?FundNo=444444") target="_blank">A-R1day:</a><label style="color:@(Convert.ToDouble(ViewData["A-R1day"])>0?"red":"green")">@ViewData["A-R1day"].ToString()%</label></div>
                <div class="col-md-2"><a href=@("/Fund/Test?FundNo=555555") target="_blank">C-R1day:</a><label style="color:@(Convert.ToDouble(ViewData["C-R1day"])>0?"red":"green")">@ViewData["C-R1day"].ToString()%</label></div>
                <div class="col-md-2"><a href=@("/Fund/Test?FundNo=666666") target="_blank">S-R1day:</a><label style="color:@(Convert.ToDouble(ViewData["S-R1day"])>0?"red":"green")">@ViewData["S-R1day"].ToString()%</label></div>
                <div class="col-md-2">XYG-Rate:<label>@ViewData["XYG-Rate"].ToString()%</label></div>
                <div class="col-md-2">KJ-Rate:<label>@ViewData["KJ-Rate"].ToString()%</label></div>
                <div class="col-md-2">MyStock-Rate:<label>@ViewData["MyStock-Rate"].ToString()%</label></div>
            </div>
            <div class="row">
                <div class="col-md-2">XYG-Return:<label style="color:@(Convert.ToDouble(ViewData["XYG-Return"])>0?"red":"green")">@ViewData["XYG-Return"].ToString()%</label></div>
                <div class="col-md-2">KJ-Return:<label style="color:@(Convert.ToDouble(ViewData["KJ-Return"])>0?"red":"green")">@ViewData["KJ-Return"].ToString()%</label></div>
                <div class="col-md-2">Rank-Return:<label style="color:@(Convert.ToDouble(ViewData["Rank-Return"])>0?"red":"green")">@ViewData["Rank-Return"].ToString()%</label></div>
                <div class="col-md-2">MyStock-Return:<label style="color:@(Convert.ToDouble(ViewData["MyStock-Return"])>0?"red":"green")">@ViewData["MyStock-Return"].ToString()%</label></div>
                <div class="col-md-2">MyBond-Return:<label style="color:@(Convert.ToDouble(ViewData["MyBond-Return"])>0?"red":"green")">@ViewData["MyBond-Return"].ToString()%</label></div>
                <div class="col-md-2">My-Return:<label style="color:@(Convert.ToDouble(ViewData["My-Return"])>0?"red":"green")">@ViewData["My-Return"].ToString()%</label></div>
            </div>
        </div>
    </div>
    <!-- 登陆框主体 -->
    <div id="trans" class="trans">
        <!-- 登陆框标题 -->
        <div id="trans-title" class="trans-title">
            <label id="transno">FundNo</label><label id="transname">FundName</label>
            <span><a id="closeBtn" href="javascript:void(0)">关闭</a></span>
        </div>
        <!-- 登陆框表单 -->
        <div id="login-form">
            <div class="trans-input">
                <label>买入金额：</label>
                <input type="text" name="transactionValue" id="transactionValue" placeholder="请输入金额" class="list-input" />
            </div>

            <div class="trans-input">
                <label>日期：</label>
                <input type="date" name="confirmTime" id="confirmTime" class="list-input" value="2020-09-01" />
            </div>
        </div>
        <!-- 登陆框登陆按钮 -->
        <button id="transSubmit" onclick=transSubmit() class="transSubmit">提交</button>
        <!--<input type="submit" id="transSubmit" value="提交" class="transSubmit" />-->
    </div>
    <!-- 遮盖层 -->
    <div id="bg" class="bg">sada</div>
    <div class="dataView table-responsive" id="maindiv">
        <table border="1" cellspacing="0" cellpadding="0" class="sortable table-hover">
            <thead><tr><td>代号</td><td>名称</td><td>策略</td><td>规模</td><td>排名</td><td>持仓</td><td>收益</td><td>近1天</td><td>近1周</td><td>近1月</td><td>ExpD5</td><td>ExpD10</td><td>ExpM1</td><td>ExpM2</td><td>Exp1</td><td>Exp2</td><td>Exp3</td><td>D_Top</td><td>基评</td><td>经评</td><td>估算</td><td>定投</td></tr></thead>
            <tbody id="tbResult">
                @foreach (var item in (List<StrategyView>)ViewData["stList"])
                {
                <tr id="@item.FundNo">
                    <td><a href=@("/Fund/Test?FundNo="+item.FundNo) target="_blank">@item.FundNo</a></td>
                    <td><a href=@("http://fund.eastmoney.com/"+item.FundNo+".html?spm=search") target="_blank">@item.FundName</a></td>
                    <td class="strategy">@item.Strategy</td>
                    <td>@item.TotalScale</td>
                    <td class="rank">@item.Rank_Id</td>
                    <td>@item.Investment</td>
                    <td style="color:@(item.ReturnRate>0?"red":"green")" class="returnrate">@item.ReturnRate</td>
                    <td style="color:@(item.R1day>0?"red":"green")">@item.R1day</td>
                    <td style="color:@(item.R1week>0?"red":"green")">@item.R1week</td>
                    <td style="color:@(item.R1month>0?"red":"green")">@item.R1month</td>
                    <td style="color:@(item.D_ExpD5>0?"red":"green")">@item.D_ExpD5</td>
                    <td style="color:@(item.D_ExpD10>0?"red":"green")">@item.D_ExpD10</td>
                    <td style="color:@(item.D_ExpM1>0?"red":"green")">@item.D_ExpM1</td>
                    <td style="color:@(item.D_ExpM2>0?"red":"green")">@item.D_ExpM2</td>
                    <td style="color:@(item.D_Exp1>0?"red":"green")">@item.D_Exp1</td>
                    <td style="color:@(item.D_Exp2>0?"red":"green")">@item.D_Exp2</td>
                    <td style="color:@(item.D_Exp3>0?"red":"green")">@item.D_Exp3</td>
                    <td style="color:@(item.D_Top>0?"red":"green")">@item.D_Top</td>
                    <td>@item.FundScore</td>
                    <td>@item.ManagerScore</td>
                    <td style="color:@(item.Estimate>0?"red":"green")">@item.Estimate</td>
                    <td style="color:@(item.Recommend>0?"red":"green")">@item.Recommend</td>
                    <td><button id="addtr" onclick="addTransation('@item.FundNo.ToString()','@item.FundName.ToString()')">$</button></td>
                </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div>
        <div class="container">
            <div class="row" style="text-align:center">
                <div class="col-md-3"></div>
                <div class="col-md-6">共<label id="listcount">@(ViewData["listCount"].ToString())</label>条数据,总计<label id="total">@(ViewData["Total"].ToString())</label>元，股占比:<label id="rate">100</label>%，持有收益率:<label id="inrate">0</label>%</div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>



    <!-- 弹框js代码 -->
    <script type="text/javascript">
        var login = document.getElementById('trans');
        var bg = document.getElementById('bg');

        // 1.点击"点击，弹出登陆框",弹出登陆窗口和遮盖层
        //var adminBtn = document.getElementById('addtr');
        //adminBtn.onclick = function (fundno) {
        //    login.style.display = "block";
        //    bg.style.display = "block";
        //    $("#translb").text(fundno);
        //    return false;
        //}

        function addTransation(fundno,fundname) {
            login.style.display = "block";
            bg.style.display = "block";
            $("#transno").text(fundno);
            $("#transname").text(fundname);
            var now = formatDate(new Date());
            $("#confirmTime").val(now);
            
        }

        function transSubmit() {
            //alert($("#transno").val());
            
            $.ajax({
                    url: '/Fund/AddTransactionInfo',
                    type: 'post',
                    data: {
                        transactionValue: $("#transactionValue").val(),
                        confirmTime: $("#confirmTime").val(),
                        fundNo: $("#transno").text(),
                    },
                    error: function (data) {
                        alert('请求失败');
                    },
                    success: function (data) {
                        //$("#" + fundnoStr).text("-");//改变标签内容值'
                        if (data == true) {
                            alert('添加成功');
                        }
                        else {
                            alert('添加失败');
                        }
                    }
                })
        }

        //inputTime 参数是毫秒级时间戳
        function formatDate(inputTime) {
            var date = new Date(inputTime);
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
                        if (m < 10) {
                m = "0" + m.toString();
            }
            if (d < 10) {
                d = "0" + d.toString();
            }
            return y + '-' + m + '-' + d;
         }

        // 2.点击"关闭",隐藏登陆窗口和遮盖层
        var closeBtn = document.getElementById('closeBtn');
        closeBtn.onclick = function () {
            login.style.display = "none";
            bg.style.display = "none";
            return false;
        }
        // 3.鼠标拖拽功能
        var login_title = document.getElementById('trans-title');
        login_title.onmousedown = function (e) {
            e = e || window.event;
            var x = e.pageX || e.clientX + (document.body.scrollLeft || document.documentElement.scrollLeft);
            var y = e.pageY || e.clientY + (document.body.scrollTop || document.documentElement.scrollTop);

            var boxX = login.offsetLeft;
            var boxY = login.offsetTop;

            var mouse_in_boxX = x - boxX;
            var mouse_in_boxY = y - boxY;

            document.onmousemove = function (e) {
                var x = e.pageX || e.clientX + (document.body.scrollLeft || document.documentElement.scrollLeft);
                var y = e.pageY || e.clientY + (document.body.scrollTop || document.documentElement.scrollTop);

                login.style.left = x - mouse_in_boxX + 256 + 'px';
                login.style.top = y - mouse_in_boxY - 142 + 'px';
            }
        }

        login_title.onmouseup = function () {
            document.onmousemove = null;
        }

    </script>
</body>
</html>

